header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0;
  transition: background .3s ease;

  @include media-breakpoint-up(md) {
    position: absolute;
  }

  &.scrolled {
    background: rgba(1, 69, 147, 0.7);
    transition: background .3s ease;
  }

  &.logged-in {
    .container .actions {
      .login {
        font-size: 0;
        padding: 0;
        background: transparent;
        border-radius: 100%;

        img {
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }

      .avatar {
        @include media-breakpoint-up(md) {
          display: block;
          padding-bottom: 10px;
          margin-bottom: -10px;

          &__inner {
            border-radius: 100%;
            overflow: hidden;
            height: 30px;
            width: 30px;

            img {
              display: block;
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }

    #menu {
      ul {
        li.user {
          display: block;
        }

        li:first-of-type {
          display: none;
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 17px 15px;

    @media (min-width: 1024px) {
      padding: 0 15px;
    }

    .actions {
      display: flex;
      align-items: center;
      position: relative;

      .avatar {
        display: none;
      }

      ul.user-actions {
        display: none;
        position: absolute;
        right: -5px;
        top: 60px;
        width: 168px;
        background: white;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        padding: 0;

        @media (max-width: 1024px) and (min-width: 765px) {
          top: 45px;
        }

        &:before {
          content: '';
          position: absolute;
          top: -5px;
          right: 10px;
          background: white;
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 4px;
          transform: rotate(45deg);
        }

        li {
          list-style: none;
          background: transparent;
          padding: 0;
          margin: 0;
          border-bottom: 1px solid #DFE3E8;

          &:last-child {
            border: 0;
          }

          a {
            color: $text-grey;
            font-size: 14px;
            line-height: 40px;
            padding: 0 55px 0 36px;
            margin: 0;

            &:hover {
              -webkit-text-stroke: 1px $text-grey;
            }
          }
        }
      }

      a {
        font-size: 0;

        @include media-breakpoint-up(md) {
          display: flex;
          align-items: center;
          margin-left: 20px;
          background: white;
          color: $text-blue;
          border-radius: 57px;
          padding: 5px 10px;
          font-size: 13px;
        }

        &:hover {
          text-decoration: none;
        }

        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(34deg) brightness(104%) contrast(102%);
          margin-left: 16px;

          @include media-breakpoint-up(md) {
            filter: none;
            margin-left: 18px;
          }
        }
      }
    }
  }
}
