.landing {
  &--top {
    padding: 86px 0 49px;
    position: relative;
    background: transparent url('../../public/images/landing-bg.jpg') no-repeat center;
    background-size: cover;

    @include media-breakpoint-up(md) {
      padding: 86px 0 138px;
    }

    @include media-breakpoint-up(lg) {
      padding: 151px 0 157px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(1, 69, 147, 0.7);
      z-index: 50;
    }
  }

  &--bottom {
    padding: 35px 0 23px;

    @include media-breakpoint-up(md) {
      padding: 20px 0 15px;
    }

    @include media-breakpoint-up(lg) {
      padding: 30px 0 40px;
    }

    .col-sm-12 {
      &:last-child {
        display: flex;
        align-items: center;
      }
    }

    img {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        width: 100%;
      }
    }
  }

  .container {
    position: relative;
    z-index: 60;

    h1 {
      padding-bottom: 41px;
      margin: 0;

      @include media-breakpoint-up(lg) {
        padding-bottom: 76px;
      }
    }

    h4 {
      margin-bottom: 61px;
      color: white;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;

      @include media-breakpoint-up(md) {
        margin-bottom: 46px;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 76px;
      }
    }
  }
}
