.mobile-nav {
  @media (min-width: 1024px) {
    display: none;
  }

  .logo {
    display: inline-block;
  }

  #menuToggle {
    display: flex;
    width: 30px;
    margin-right: 10px;
    float: left;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: 0;
    z-index: 1;
    user-select: none;

    input {
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;

      &:checked ~ span {
        background: $text-blue;
      }

      &:checked ~ nav {
        transform: none;
      }
    }

    span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  #menu {
    position: fixed;
    width: 105%;
    height: 104vh;
    overflow: scroll;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -30px;
    padding: 22px 0 30px;
    background-color: white;
    transform-origin: 0% 0%;
    transform: translate(-130%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    @include media-breakpoint-up(md) {
      top: 15px;
      //width: 55%;
      width: 530px;
      height: 104vh;
      overflow: scroll;
      box-shadow: 0px 6px 12px rgba(27, 39, 56, 0.302256);
      margin: -30px 0 0 -30px;
      padding: 30px 55px 45px 85px;
      z-index: 50;
    }

    .logo {
      padding: 5px 0 0 70px;

      @include media-breakpoint-up(md) {
        padding: 0 0 20px;
      }
    }

    .close {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 15px 35px 0 0;

      span {
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: $text-blue;

        &:first-child {
          transform: rotate(45deg) translate(-2px, 0px);
        }

        &:last-child {
          transform: rotate(-45deg) translate(-9px, 4px);
        }
      }
    }

    .nav--inner {
      position: sticky;
      top: 0;
      width: 100%;
      padding: 12px 0 20px;
      border-bottom: 1px solid #DFE3E8;
      background: white;

      @include media-breakpoint-up(md) {
        border-top: 0;
        padding: 0;
        margin: 0;
        position: static;
      }
    }

    ul {
      padding: 25px 0 0;

      li {
        padding: 10px 40px;
        transition-delay: 2s;
        list-style: none;

        &.user {
          display: none;
          padding-bottom: 0;

          .avatar {
            display: flex;
            padding-bottom: 10px;

            a {
              color: $text-blue;
              font-size: 10px;
              line-height: 20px;

              p {
                font-size: 14px;
                margin: 0;
              }
            }

            &__inner {
              border-radius: 100%;
              overflow: hidden;
              height: 40px;
              width: 40px;
              margin-right: 15px;

              img {
                display: block;
                width: 100%;
                margin: 0;
              }
            }
          }

          .menu-item {
            display: block;
          }
        }

        @include media-breakpoint-up(md) {
          padding: 10px 0;
        }

        &:first-of-type {
          text-align: center;

          @include media-breakpoint-up(md) {
            display: none;
          }
        }

        &.lang {
          text-align: center;
          padding-top: 0;

          select {
            -webkit-appearance: none;
            background: transparent url('../../public/images/chevron-down.svg') no-repeat 100% 60%;
            background-size: 10px;
            border: none;
            color: white;
            padding: 4px 12px 0 0;
            outline: none;
            color: $text-grey;
          }

          img {
            margin-right: 5px;
          }
        }

        &.actions {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px 0 30px;

          @include media-breakpoint-up(md) {
            display: none;
          }

          a {
            font-size: 16px;
            color: $text-blue;
            border: 1px solid $text-blue;
            border-radius: 57px;
            padding: 8px 13px;
            margin: 0 10px;
            background: transparent;
            display: inline-block;

            img {
              filter: none;
            }
          }
        }

        h3 {
          color: $text-blue;
          font-size: 26px;
          line-height: 32px;
          font-weight: 700;
        }

        .menu-item {
          display: inline-block;
          width: 50%;
          color: $text-grey;
          font-size: 11px;
          line-height: 40px;

          @media (min-width: 375px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
