.navbar {
  display: none;

  @media (min-width: 1024px) {
    display: inline-flex;
    align-items: center;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 105px;
    margin: 0;
    padding-top: 23px;

    .navbar--li {
      list-style: none;
      position: relative;
      margin-right: 29px;
      text-align: center;
      padding-bottom: 20px;

      .dropdown {
        display: none;
        position: absolute;
        width: 696px;
        top: 45px;
        left: -80px;
        padding: 10px 40px 20px 30px;
        background: white;
        border-radius: 6px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
        border: 1px solid #ECF0FF;

        &:before {
          content: '';
          position: absolute;
          top: -7px;
          left: 116px;
          background: white;
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 4px;
          transform: rotate(45deg);
        }

        li {
          width: 300px;
          display: inline-block;
          padding: 18px 0 10px;
          margin: 0;
          text-align: left;
          border-bottom: 1px solid #DFE3E8;

          &:nth-child(5),
          &:nth-child(6) {
            border: 0;
          }

          a {
            display: flex;
            width: 100%;
            transition: all .25s ease;

            &:hover {
              -webkit-text-stroke: 0;
              transform: scale(1.02);
              transition: all .25s ease;
            }
          }

          .img {
            text-align: center;
            margin-right: 20px;
          }

          span {
            display: block;
            font-size: 16px;
            line-height: 24px;
            color: $text-grey;
            margin-bottom: 6px;
          }

          small {
            display: block;
            font-size: 13px;
            line-height: 16px;
            color: $text-blue;
          }
        }
      }

      &:hover {
        ul {
          display: grid;
          grid-template-columns: 50% 50%;
        }
      }

      a {
        color: white;

        &:hover {
          //font-weight: 700;
          -webkit-text-stroke: 1px white;
          //text-shadow: 0 0.015em white,0 -0.015em white,0.01em 0 white,-0.01em 0 white;
          text-decoration: none;
        }
      }
    }
  }

  .lang {
    background: transparent url('../../public/images/chevron-down.svg') no-repeat 100% 35%;
    background-size: 10px;
    color: white;
    padding: 4px 12px 20px 0;
    margin-bottom: -20px;
    position: relative;

    &:hover {
      //font-weight: 700;
      -webkit-text-stroke: 1px white;

      li {
        ul {
          display: block;
          position: absolute;
        }
      }
    }

    li {
      margin: 0 4px 0 0;
      padding: 0;

      ul {
        display: none;
        width: 168px;
        top: 35px;
        right: -35px;
        padding: 0;
        background: white;
        border-radius: 6px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
        border: 1px solid #ECF0FF;

        &:before {
          content: '';
          position: absolute;
          top: -7px;
          right: 16px;
          background: white;
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 4px;
          transform: rotate(45deg);
        }

        li {
          width: 100%;
          margin: 0;
          border-bottom: 1px solid #DFE3E8;
          line-height: 40px;
          text-align: left;
          list-style: none;
          padding: 0;

          a {
            color: $text-grey;
            font-weight: 300;
            -webkit-text-stroke: 0;
            display: block;
            padding: 0 77px 0 36px;

            &:hover {
              -webkit-text-stroke: 1px $text-grey;
            }
          }
        }
      }
    }
  }
}
