@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: $text-base;

  @include media-breakpoint-up(lg) {
    font-size: 60px;
    line-height: 70px;
  }
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 21px;
    line-height: 30px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  color: $text-blue;

  @include media-breakpoint-up(lg) {
    font-size: 21px;
    line-height: 30px;
  }
}
