.button {
  display: inline-block;
  background-color: $btn-bg;
  color: $btn-blue;
  border-radius: 57px;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 700;
  widtH: 100%;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: 375px) {
    width: auto;
    padding: 12px 96px;
  }

  @media (min-width: 1024px) {
    width: auto;
    padding: 12px 26px;
  }
}
