// Main content

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $bg-color;
}

.container {
  width: 100%;
  max-width: 100%;

  @include media-breakpoint-up(lg) {
    width: 1280px;
    margin: 0 auto;
  }
}
