header
  .container
    nav.mobile-nav
      #menuToggle
        input(type='checkbox')
        span
        span
        span
        nav#menu
          .nav--inner
            .logo
              a(href='/')
                img(src='../public/images/BP-logo-negative.svg' alt='logo' width='180')
            a.close(href='javascript:void(0);')
              span
              span
          ul
            li
              a(href='#').button Start booking!
            li.user
              .avatar
                .avatar__inner
                  img(src='../public/images/avatar.png' alt='avatar')
                a(href='#')
                  | Logged in as
                  p Barbara Palvin
              a.menu-item(href='#') Dashboard
              a.menu-item(href='#') My account
            li
              hr.d-md-none
              h3 Lorem ipsum
              a.menu-item(href='#') Sed lacinia
              a.menu-item(href='#') Praesent consequat
              a.menu-item(href='#') Aenean lacinia viverra
              a.menu-item(href='#') Praesent venenatis?
              a.menu-item(href='#') Etiam finibus molestie
              a.menu-item(href='#') Duis varius massa
            li
              hr
              h3 Dolorsit
              a.menu-item(href='#') Adipiscing elit
              a.menu-item(href='#') Cogito ergo sum
            li
              hr
              h3 Consectetur
              a.menu-item(href='#') Grande punto
              hr
              a.menu-item(href='#') Curabitur
              a.menu-item(href='#') Ut ullamcorper
              a.menu-item(href='#') Vestibulum
              a.menu-item(href='#') Orci varius
              a.menu-item(href='#') Donec vel eros
              a.menu-item(href='#') Curabitur
              a.menu-item(href='#') Maecenas
            li.lang
              hr
              .lang__inner
                img(src='../public/images/icn-pin.svg' alt='lang')
                select
                  option(value='English') English
                  option(value='Magyar') Magyar
                  option(value='Deutch') Deutch
                  option(value='Françias') Françias
              hr
            li.actions
              a.chat(href='#') Chat
                img(src='../public/images/icn-bubble-negative.svg' alt='chat')
              a.login(href='#') Login
                img(src='../public/images/icn-login-negative.svg' alt='login')
      .logo
        a(href='/')
          img(src='../public/images/BP-logo.svg' alt='logo' width='180')

    nav.navbar
      .logo
        a(href='/')
          img(src='../public/images/BP-logo.svg' alt='logo' width='180')
      ul
        li.navbar--li
          a(href='#') Lorem ipsum
          ul.dropdown
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-capitol.svg' alt='svg-icon')
                .text
                  span Sed lacinia
                  small Magna tincidunt venenatis
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-motorcycle.svg' alt='svg-icon')
                .text
                  span Praesent venenatis?
                  small Quis enim faucibus nisi convallis
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-passport.svg' alt='svg-icon')
                .text
                  span Praesent consequat
                  small Felis sit amet vehicula molestie
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-bikini.svg' alt='svg-icon')
                .text
                  span Etiam finibus molestie
                  small Curabitur lobortis pellentesque congue
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-ferris-wheel.svg' alt='svg-icon')
                .text
                  span Aenean lacinia viverra
                  small Class aptent taciti sociosqu ad
            li
              a(href='#')
                .img
                  img(src='../public/images/icn-cable-car-cabin.svg' alt='svg-icon')
                .text
                  span Duis varius massa
                  small Praesent suscipit venenatis justo
        li.navbar--li
          a(href='#') Dolorsit
        li.navbar--li
          a(href='#') Consectetur
      ul.lang
        li.navbar--li
          a(href='#') Hu
          ul
            li
              a(href='#') Deutch
            li
              a(href='#') English
            li
              a(href='#') Françias
            li
              a(href='#') Magyar
    .actions
      a.chat(href='#') Chat
        img(src='../public/images/icn-bubble-negative.svg' alt='chat')
      a.login(href='#') Login
        img(src='../public/images/icn-login-negative.svg' alt='login')
      .avatar
        .avatar__inner
          img(src='../public/images/avatar.png' alt='avatar')
      ul.user-actions
        li
          a(href='javascript:void(0);') Dashboard
        li
          a(href='javascript:void(0);') My account
        li
          a.logout(href='javascript:void(0);') Log out
