section.landing
  .landing--top
    .container
      .row
        .col-lg-7.col-md-8.col-sm-12
          h1 Welcome to Budapest!
          h4 Budapest Things to do - detailed info about things to do: sightseeing, events, restaurants, nightlife, shopping, pubs, bars, casinos and more...
          a(href='#').button Start booking!    
  .landing--bottom
    .container
      .row
        .col-md-6.col-sm-12
          img(src='../public/images/illustration.svg' alt='illustration')
        .col-md-6.col-sm-12
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna arcu, tempus nec urna non, lacinia vehicula dolor. Integer pellentesque leo tristique nibh tristique posuere. 
